@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap");
body {
  font-family: "Raleway", sans-serif;
}
:root {
  --primary-color: #fafafa;
  --a-color: #ec4899;
}
.navigation {
  font-size: 16px;
  padding: 0.8rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: none;
}
.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.5rem;
}
.navigation .nav-pills {
  text-align: right;
}
.navigation .link {
  color: var(--a-color);
  font-size: 15px;
}
.navigation .link-active {
  font-weight: bold;
}
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}
.link {
  text-decoration: none;
  padding: 0.1rem 0.1rem;
  font-size: 15px;
}
.primary-link {
  border-radius: 0.5rem;
  color: var(--a-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
}
.secondary-link {
  color: var(--a-color);
  font-size: 17px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.pp {
  max-width: 350px;
  display: block;
  margin: auto;
}
.pp1 {
  max-width: 50px;
  margin-left: 1rem;
  border-radius: 2em;
}
.pp2 {
  max-width: 50px;
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 45px;
}
p {
  text-align: center;
}
.footer {
  padding: 2.5rem 0.5rem;
  padding-bottom: 0.3%;
  text-align: center;
  font-size: 15px;
}
.footer .link {
  color: var(--a-color);
}
