@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap");
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
ul {
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
:root {
  --primary-color: #fafafa;
  --a-color: #ec4899;
}
.navigation {
  background-color: #6ee7b7;
  font-size: 16px;
  padding: 0.8rem;
  margin-bottom: none;
}
.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.5rem;
}
.navigation .nav-pills {
  text-align: right;
}
.navigation .link {
  font-size: 15px;
}
.navigation .link-active {
  font-weight: bold;
}
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}
.link {
  text-decoration: none;
  padding: 0.1rem 0.1rem;
  font-size: 15px;
}
.primary-link {
  background-color: var(--a-color);
  border-radius: 0.5rem;
  text-decoration: none;
  outline-style: none;
  padding: 0.8rem 1.5rem;
  border: none;
  color: white;
  font-size: large;
}
.secondary-link {
  color: var(--a-color);
  font-size: 17px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.pp {
  max-width: 350px;
  display: block;
  margin: auto;
}
.pp1 {
  max-width: 70px;
  margin-left: 1rem;
  border-radius: 50%;
}
.pp2 {
  max-width: 50px;
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 45px;
}
p {
  text-align: center;
}
.content {
  padding: 2.5rem 0.5rem;
  padding-bottom: 0.3%;
  text-align: center;
  font-size: 15px;
}
.footer {
  border: 1px solid gray;
}
.link {
  color: var(--a-color);
}
.GS-button {
  text-align: center;
  padding: 2em 2em;
}
.hero {
  padding: 2em 0 2em 0;
}
.gist {
  padding: 2rem;
  max-width: 500px;
  margin: auto;
}
